@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

$theme-colors: (
    'primary': #6b966e,
    'dark': #1e1835,
    'danger': rgb(196, 53, 53)
);

.header {
    border-top: 3px solid #6b966e;
    font-family: 'raleway';
}

#header-clear {
    background-color: transparent;
}

#header-dark {
    transition: .8s ease;
    background-color: #1e1835;
}

.icon-bar {
    width: 21px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: all .2s;
    margin-top: 4px;
}

.raleway {
    font-family: 'raleway';
}

.profile-card {
    cursor: pointer;
    height: 225px;
}

#index-card {
    border-radius: 20px;
    font-family: 'Raleway';
    background-color: rgba(181, 231, 247, 0.555);
}

#index-card-top {
    height: 72%;
    border-radius: 20px 20px 0 0;
    padding: 1.25rem;
}

#index-card-bottom {
    height: 28%;
    border-radius: 0 0 20px 20px;
    background-color: rgb(211, 209, 209);
}

#friend-card {
    font-family: 'Raleway';
    background-color: rgba(31, 182, 94, 0.555);
    border-radius: 20px;
    border: 2px solid rgba(31, 182, 94, 0.555);
}

#friend-card-top {
    height: 20%;
    border-radius: 20px 20px 0 0;
}

#table-top {
    border-radius: 20px 20px 0 0;
    border-top: hidden;
}

.score-container {
    border-radius: 20px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(5, 8, 5, 0.288);;
  }
    
.score {
    font-family: 'Raleway';
    border: 1px solid black;
    border-radius: 5%;
    height: 4.5rem;
    width: 4.5rem;
    margin: 8px;
    display: flex;
    align-items: flex-end;
    line-height: 1em;
    font-size: 3rem;
    color: black;
    background-color: white;
    cursor: pointer;
}


#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


#root {
    background-color: rgba(143, 143, 143, 0.05);
}

#content-container {
    padding-top: 10%;
    min-height: 100vh;
}

#sidebar-collapse {
    border: none;
    padding: 0;
    outline: none;
}

// button styling

#play-btn {
    padding: 0.1rem .3rem;
}


div > .profile-btn {
    text-decoration: none;
}

#top-navbar {
    font-family: 'Raleway';
    padding: 0.8rem 1rem;
}
 
table input {
    display: block; 
    padding: 0.75rem; 
    margin: 0; 
    border: 0; 
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
}


#scrollable {
    font-family: 'Libre Franklin', sans-serif;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
    


.table > tbody > tr > td {
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
