.background-course {
    background-image: url('images/home-course.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.login-course {
    background-image: url('images/login-course.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.register-course {
    background-image: url('images/register-course2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#scrollable {
    white-space:nowrap;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;  
}

